<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrlXAgsl5c9b_C8OPCW5a1sRB7ROD4icw</string>
	<key>GCM_SENDER_ID</key>
	<string>344725553629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>google.package</string>
	<key>PROJECT_ID</key>
	<string>notifications-1fccb</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-1fccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344725553629:ios:1e3a5a5a1cf8697e5e3634</string>
</dict>
</plist>